# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
ENV/
env/

# VS Code settings
.vscode/

# Python distribution files
build/
dist/
*.egg-info/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables or secrets
*.env
